<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?php echo $title?> - 子木小乔</title>
    <meta name="description" content="有爱，生活才会精彩" />
    <meta name="keywords" content="爱情,爱,家庭,个人博客" />
    <meta name="application-name" content="子木小乔-个人微博客" />
    <base href="<?php echo base_url();?>">

    <!-- Bootstrap Reference Begin-->
    <link href="<?php echo base_url('static/css/bootstrap.min.css');?>" rel="stylesheet" media="screen">
    <link href="<?php echo base_url('static/css/bootstrap-responsive.min.css');?>" rel="stylesheet" media="screen">
    <!-- Bootstrap Reference End-->

    <link href="<?php echo base_url('static/css/loveqiao.css');?>" rel="stylesheet" media="screen">


</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
<!-- S Header  这部分是公用的-->
<?php include_once('common/header.html'); ?>
<!-- E Header  这部分是公用的-->
<div class="container-fluid"  style="margin-top: 40px">
<div class="row-fluid">
<div class="span6 offset2">
<!--Body content-->
<div class="banner">
    <img src="static/images/fiddler.jpg" width="980" height="150" alt="">
</div>
<!--导航-->
<nav class="">
    <ul class="breadcrumb lq-rebgcolor-breadcrumb">
        <li>
            <a href="http://localhost/loveqiao/" target="_blank">首页</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="http://localhost/loveqiao/blog" target="_blank">碎碎念</a> <span class="divider">/</span>
        </li>
        <li class="active">碎碎文 ☞ <?php echo $title?></li>
    </ul>
</nav>
<article>
    <section>
        <div class="archive-widget">
            <div class="archive" archive="">
                <div class="archive-header">
                    <div class="archive-date">
                        <div class="month">Dec</div>
                        <div class="day">19</div>
                    </div>
                    <div class="archive-header-title">
                        <h3><?php echo $title?></h3>
                        <p>
                            <span>作者:子木小乔</span><span>更新时间:<?php echo $lastupdatetime?></span>
                            <span>碎碎签: <a href="tag-HTML5.html"><code>HTML5</code></a></span>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="archive-body">
                    <?php echo $content?>
                </div>
            </div>
        </div>
        <div class="archive-widget">
            <div class="archive-declare">
                <span>声明：</span>本站内容版归权<a href="<?php echo base_url('about') ?>" target="_blank">子木小乔</a>所有，转载请注明来源<a href="http://localhost/loveqiao/" target="_blank">http://localhost/loveqiao/</a>并保留原文链接。
            </div>
            <div class="archive-share">
                <!-- Baidu Button BEGIN -->
                <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                    <span class="bds_more">分享到：</span>
                    <a class="bds_tqq">腾讯微博</a>
                    <a class="bds_tsina">新浪微博</a>
                    <a class="bds_qzone">QQ空间</a>
                    <a class="bds_renren">人人网</a>
                    <a class="bds_t163">网易微博</a>
                    <a class="shareCount"></a>
                </div>
                <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=5047085" ></script>
                <script type="text/javascript" id="bdshell_js"></script>
                <script type="text/javascript">
                    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
                </script>
                <!-- Baidu Button END -->
                <div class="clear"></div>
            </div>
        </div>

        <div class="archive-widget">
            <!-- Duoshuo Comment BEGIN -->
            <div class="ds-thread"></div>
            <script type="text/javascript">
                var duoshuoQuery = {short_name:"loveqiao"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                    ds.src = 'http://static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                            || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!-- Duoshuo Comment END -->
        </div>
    </section>
</article>
</div>
<div class="span2">
    <!--Sidebar content-->
    <div class="hero-unit well  lq-siderbar" style="margin-top:20px;">
        <div class="mywarp">
            <a class="photo-box" href="javascript:void(0);">
                <img src="<?php echo base_url('static/images/myphoto.jpg');?>" width="140" height="225">
            </a>
        </div>
    </div>
    <div class="hero-unit well lq-siderbar tab_latest" style="margin-top:20px;">
        <ul>
            <li><a href="http://www.mathke.com/calculous/jizhidian.html" rel="bookmark" title="详细阅读 极值点两侧一定单调吗？">极值点两侧一定单调吗？</a></li>
            <li><a href="http://www.mathke.com/math-fun/math-t-shirt.html" rel="bookmark" title="详细阅读 数学考试专用装备——小抄T恤">数学考试专用装备——小抄</a></li>
            <li><a href="http://www.mathke.com/kaoyan/kaoyan-wenfen-biaogefa.html" rel="bookmark" title="详细阅读 关于微分算子法和分部积分表格法">关于微分算子法和分部积分表格法</a></li>
            <li><a href="http://www.mathke.com/calculous/pieepi.html" rel="bookmark" title="详细阅读 如何证明pi的e次方小于e的pi次方">如何证明pi的e次方小于e的pi次方</a></li>
            <li><a href="http://www.mathke.com/calculous/calculus-q-a.html" rel="bookmark" title="详细阅读 （贴吧问题）一个不定积分求解">（贴吧问题）一个不定积分求解</a></li>
            <li><a href="http://www.mathke.com/history/cauchy.html" rel="bookmark" title="详细阅读 数学家柯西">数学家柯西</a></li>
            <li><a href="http://www.mathke.com/software/math-soft-logo.html" rel="bookmark" title="详细阅读 数学软件LOGO">数学软件LOGO</a></li>
            <li><a href="http://www.mathke.com/linear-algebra/xd-lt.html" rel="bookmark" title="详细阅读 设A为n阶方阵，且满足AA^T =E和|A|&amp;lt;0，证明行列式|E+A|=0">设A为n阶方阵，且满足AA^T =E和</a></li>
            <li><a href="http://www.mathke.com/math-fun/funny-math-song.html" rel="bookmark" title="详细阅读 拉格朗日，傅立叶旁，我凝视你凹函数般的脸庞">拉格朗日，傅立叶旁，我凝视你凹函数</a></li>
            <li><a href="http://www.mathke.com/calculous/limit.html" rel="bookmark" title="详细阅读 求极限方法总结">求极限方法总结</a></li>
        </ul>
    </div>
    <div class="hero-unit well  lq-siderbar" style="margin-top:20px;">
        <div class="ads">
            <a><img src=""></a>
        </div>
    </div>
</div>
</div>
</div>


<!-- S login  这部分是公用的-->
<?php include_once('common/login.html'); ?>
<!-- S login  这部分是公用的-->

<!-- S Footer  这部分是公用的-->
<?php include_once('common/footer.html'); ?>
<!-- E Footer  这部分是公用的-->

<!-- Bootstrap Reference Begin-->
<!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
<script src="<?php echo base_url('static/js/jquery.js?v2.3.0');?>"></script>
<script src="<?php echo base_url('static/js/bootstrap.min.js');?>"></script>
<!-- Bootstrap Reference End-->


<!--bShare Begin-->
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
<!--bShare End-->

<!--<script src="<?php echo base_url('static/js/jquery.scrolltotop.js');?>"></script>-->

<script src="<?php echo base_url('static/js/common.js');?>"></script>
<script src="<?php echo base_url('static/js/archive.js?20111');?>"></script>
<script>
    var show = 0; //定义默认展示的是第一个TAB选中状态
    if (window.localStorage){ //如果浏览器支持localStorage
        var navShow = localStorage.getItem("shownum"); //获取客户端TAB状态
        if(navShow == null){ //如果为空，即第一次打开
            //将默认的第一个TAB设置为选中状态并显示与其对应的list
            $("#navigation ul li").eq(show).addClass("active").siblings().removeClass("active");
        }
        $("#navigation ul li").each(function(index){ //遍历每个TAB
            var li = $(this);
            show = li.attr("active")==true?index:show; //如果当前TAB被点击选中，则将show值设为当前的索引值
            if(index==navShow){ //如果当前索引值与存储的TAB状态值一致
                li.addClass("active"); //设置为选中状态样式
            }
            li.click(function(){ //当单击当前TAB时
                li.addClass("active").siblings().removeClass("active");//设置为选中状态样式
                localStorage.setItem("shownum",index); //将TAB选中状态存储到本地
            });
        });
    }else{//如果浏览器不支持localStorage
        alert('您的浏览器不支持localStorage.');
    }

    if (!window.indexedDB) {
        window.indexedDB = window.mozIndexedDB || window.webkitIndexedDB;
    }

    var request = indexedDB.open("MyTestDatabase");

    request.onsuccess = function(e) {
        // Obtain IDBDatabase
        // VERSION_CHANGE transaction callback
        var db = request.result;
    }
</script>
<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
<!--<script src="<?php echo base_url('static/js/jquery.qqFace.js');?>"></script>-->
<script>
//    $(function(){
//        $('#emotion').qqFace({
//            id : 'facebox', //表情盒子的ID
//            assign:'comment', //给那个控件赋值
//            path:'<?php echo base_url("static/images/face"). "/" ?>'	//表情存放的路径
//        });
////        $(".sub_btn").click(function(){
////            var str = $("#saytext").val();
////            $("#show").html(replace_em(str));
////        });
//    });
//    //查看结果
//    function replace_em(str){
//        str = str.replace(/\</g,'&lt;');
//        str = str.replace(/\>/g,'&gt;');
//        str = str.replace(/\n/g,'<br/>');
//        str = str.replace(/\[em_([0-9]*)\]/g,'<img src="face/$1.gif" border="0" />');
//        return str;
//    }
</script>


</body>
</html>