<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>迷失了-子木小乔</title>
    <meta name="description" content="有爱，生活才会精彩" />
    <meta name="keywords" content="爱情,爱,家庭,个人博客" />
    <meta name="application-name" content="子木小乔-个人微博客" />
    <base href="<?php echo base_url();?>">

    <!-- Bootstrap Reference Begin-->
    <link href="<?php echo base_url('static/css/bootstrap.min.css');?>" rel="stylesheet" media="screen">
    <link href="<?php echo base_url('static/css/bootstrap-responsive.min.css');?>" rel="stylesheet" media="screen">
    <!-- Bootstrap Reference End-->

    <!--<link href="<?php echo base_url('static/css/replybox.css');?>" rel="stylesheet" media="screen">-->
    <link href="<?php echo base_url('static/css/loveqiao.css');?>" rel="stylesheet" media="screen">


</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
<!-- S Header  这部分是公用的-->
<?php include_once('common/header.html'); ?>
<!-- E Header  这部分是公用的-->
<div class="container-fluid"  style="margin-top: 40px">
    <div class="row-fluid">
        <div class="span4 offset4">
            页面找不到啦……，您可以返回上次请求的页面。
            <a class="btn" href="" target="_self">返回首页</a>
        </div>
    </div>
</div>


<div class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="sign-in-model">
    <div class="modal-header dialog_header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel1">登录</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="lq-control-label-resize-width" for="username-input-login">账号</label>
                <div class="lq-controls-resize-margin-left">
                    <input type="text" class="input-xlarge" id="username-input-login">
                </div>
            </div>
            <div class="control-group">
                <label class="lq-control-label-resize-width" for="password-input-login">密码</label>
                <div class="lq-controls-resize-margin-left">
                    <input type="password" class="input-xlarge" id="password-input-login">
                </div>
            </div>
            <div class="" id="login-state-tips">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">取消</button>
        <button class="btn btn-primary" id="login-button-submit">确定</button>
    </div>
</div>



<!-- S Footer  这部分是公用的-->
<?php include_once('common/footer.html'); ?>
<!-- E Footer  这部分是公用的-->

<!-- Bootstrap Reference Begin-->
<!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
<script src="<?php echo base_url('static/js/jquery.js?v2.3.0');?>"></script>
<script src="<?php echo base_url('static/js/bootstrap.min.js');?>"></script>
<!-- Bootstrap Reference End-->

</body>
</html>